:root {
  /* rock */
  --red: hsl(349, 70%, 56%);
  --dRed: hsl(349, 71%, 52%);

  /* paper */
  --blue: hsl(230, 89%, 65%);
  --dBlue: hsl(230, 89%, 62%);

  /* scissors */
  --orange: hsl(39, 89%, 49%);
  --dOrange: hsl(40, 84%, 53%);
}

.icon-image {
  position: relative;
  z-index: 300;
}

.inner-circle {
  position: relative;
  z-index: 300;
  width: 110px;
  height: 110px;
  background-color: white;

  border-radius: 60px;
  box-shadow: 0px -5px 1px rgba(255, 255, 255, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-circle {
  position: relative;
  z-index: 300;

  width: 150px;
  height: 150px;
  border-radius: 75px;

  /* background: linear-gradient(to top, var(--dRed), var(--red));
  box-shadow: 0px 7px 1px hsla(349, 71%, 52%, 0.5); */

  display: flex;
  align-items: center;
  justify-content: center;
}

.rock-container {
  position: relative;
  z-index: 300;
  background: linear-gradient(to top, var(--dRed), var(--red));
  box-shadow: 0px 7px 1px hsla(349, 71%, 52%, 0.5);
}

.paper-container {
  position: relative;
  z-index: 300;
  background: linear-gradient(to top, var(--dBlue), var(--blue));
  box-shadow: 0px 7px 1px hsla(230, 89%, 62%, 0.5);
}

.scissors-container {
  position: relative;
  z-index: 300;
  background: linear-gradient(to top, var(--dOrange), var(--orange));
  box-shadow: 0px 7px 1px hsla(39, 89%, 49%, 0.5);
}

.empty-icon-circle {
  position: relative;
  z-index: 300;

  width: 110px;
  height: 110px;
  background-color: hsl(229, 25%, 31%);
  border-radius: 60px;
}

.empty-outer-circle {
  position: relative;
  z-index: 300;

  width: 150px;
  height: 150px;
  border-radius: 75px;
  background: rgba(0, 0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;
}
